# Node.js
backend/node_modules/
backend/package-lock.json
backend/.env

# Python
ml/venv/
ml/__pycache__/
ml/*.pyc
ml/.env
ml/models/*.h5
ml/models/*.pkl
ml/models/*.png
ml/models/*.json

# Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/*.iml
android/.DS_Store

# Arquivos do sistema
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.bak
*~

# Doc 
doc/



